/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 3, 2024, 2:42:47 PM
    Author     : Tung Duong
*/

body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.img {
    background-size: cover;
    height: 50px;
}

.login-button {
    background-color: #f7b500;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
    align-items: center;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    padding: 10px 20px; 
    max-height: 70px;
    padding-right: 50px;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #0E3C6E;
    font-weight: 500;
    position: relative;
    text-transform: none;
    padding-bottom: 10px;
    transition: color 0.3s ease;
}

.nav-link:hover, .nav-link.active {
    color: #0E3C6E;
}

@media (min-width: 991px) {
    .nav-link {
        position: relative; 
    }

    .nav-link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        visibility: hidden;
        transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    .nav-link:hover::after, .nav-link.active::after {
        visibility: visible;
        width: 100%;
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        text-align: left;
        padding-left: 20px;
    }
}

/* End header */

/* Body */
.hero {
    background: linear-gradient(115deg, rgba(14, 60, 110, 0.48) 0%, rgba(27, 116, 212, 0.48) 55%, rgba(27, 116, 212, 0) 87%);
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #0E3C6E;
}

.hero .btn {
    background-color: #f7b500;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: 700;
    display: inline-flex;
    align-items: center; 
    width: 360px;
    height: 80px;
    font-size: 32px;
    padding-left: 70px;
}

.hero .btn i {
    margin-left: 10px;
}

.hero .btn:hover {
    background-color: #e09e00;
}

.stats {
    background-color: #fff;
    padding: 50px 0;
}

.stats .stat {
    margin: 20px 0;
}

.stats .stat h3 {
    color: #0E3C6E;
    font-weight: bold;
}

.stats .stat p {
    color: #0E3C6E;
}
/* End body */

/* Footer */
.footer {
    background-color: #0E3C6E;
    color: #fff;
    padding: 20px 0;
}

.footer .info-footer {
    text-align: center;
}

.footer .share {
    text-align: left;
}

.footer .share a {
    color: #fff;
    margin: 5px 0; 
    text-decoration: none;
    font-size: 1.25rem;
    display: block;
}

.footer .share a:hover {
    color: #f7b500;
}

@media (max-width: 992px) {
    .hero .col-md-6:first-child {
        margin-bottom: 20px;
    }

    .footer .col-md-4 {
        text-align: center;
    }

    .footer .text-center {
        text-align: center;
    }

    .stats .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .stats .col-4 {
        flex: 1;
        max-width: 100px;
    }
}

.modal-content {
    border-radius: 50px;
    padding: 33px;
    text-align: center;
}
.modal-header {
    border-bottom: none;
}
.modal-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0E3C6E;
}
.modal-body .form-select {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    padding: 10px;
    width: 100%;
}
.modal-body .btn {
    background-color: #f7b500;
    color: #fff;
    font-size: 1rem;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: 700;
}
.modal-body .btn:hover {
    background-color: #e09e00;
}
.modal-body .btn i {
    margin-left: 10px;
}

.custom-select-container {
    position: relative;
    width: 100%;
}
.form-select-lg {
    background-color: #d9d9d9; /* Màu xám cho hộp chọn */
    color: #a2a2a2; /* Màu xám nhạt cho chữ */
    appearance: none;
    padding: 10px 40px 10px 15px; /* Khoảng cách để chứa mũi tên */
    font-size: 1.25rem;
    border: none;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.custom-select-container::after {
    content: "\f0d7"; /* Unicode cho mũi tên từ FontAwesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #0e3c6e; /* Màu xanh cho mũi tên */
    font-size: 1.5rem; /* Kích thước lớn */
    pointer-events: none; /* Để tránh mũi tên bị click */
}
select.form-select-lg:focus {
    outline: none;
}
select.form-select-lg option {
    color: #000; /* Màu chữ bình thường */
    padding: 10px;
    border-bottom: 1px solid #004080; /* Đường viền màu xanh */
}
select.form-select-lg option[value="-Select subject-"] {
    color: #a0a0a0; /* Màu xám nhạt cho tùy chọn mặc định */
}
